#<%= attribute.name %>
  = f.simple_fields_for :<%= attribute.name %>, f.object.<%= attribute.name %> do |fields|
    = render '<%= attribute.name %>_fields', f: fields

  - if can? :update, f.object
    = f.error :<%= attribute.name %>, class: 'alert alert-danger'
    .links
      = link_to_add_association(f, :<%= attribute.name %>, partial: '<%= attribute.name %>_fields') do
        %button.btn.btn-success
          %span.glyphicon.glyphicon-plus-sign
          Add Another <%= attribute.name.titleize %>
