.row.nested-fields
  Fields go here. f dot input
  .col-sm-3 f input
  .col-sm-3 f input
  .col-sm-3 f input
  .col-sm-2 f input
  .col-sm-1
    = link_to_remove_association(f) do
      %span.glyphicon.glyphicon-trash
