#<%= nested_resource.plural_name %>
  = f.simple_fields_for :<%= nested_resource.plural_name %>, f.object.<%= nested_resource.plural_name %> do |fields|
    = render '<%= [resource.namespace.presence, nested_resource.plural_name].compact.join('/') %>/fields', f: fields

  - if can? :update, f.object
    = f.error :<%= nested_resource.plural_name %>, class: 'alert alert-danger'
    .links
      = link_to_add_association(f, :<%= nested_resource.plural_name %>, partial: '<%= [resource.namespace.presence, nested_resource.plural_name].compact.join('/') %>/fields') do
        %button.btn.btn-success
          %span.glyphicon.glyphicon-plus-sign
          Add another <%= nested_resource.name.titleize.downcase %>
