#<%= attribute.name %>
  = f.simple_fields_for :<%= attribute.name %>, f.object.<%= attribute.name %> do |fields|
    = render '<%= [resource.namespace.presence, attribute.name].compact.join('/') %>/fields', f: fields

  - if can? :update, f.object
    = f.error :<%= attribute.name %>, class: 'alert alert-danger'
    .links
      = link_to_add_association(f, :<%= attribute.name %>, partial: '<%= [resource.namespace.presence, attribute.name].compact.join('/') %>/fields') do
        %button.btn.btn-success
          %span.glyphicon.glyphicon-plus-sign
          Add another <%= attribute.human_name.downcase %>
