#<%= reference.name %>
  = f.simple_fields_for :<%= reference.name %>, f.object.<%= reference.name %> do |fields|
    = render '<%= [resource.namespace.presence, reference.name].compact.join('/') %>/fields', f: fields

  - if can? :update, f.object
    = f.error :<%= reference.name %>, class: 'alert alert-danger'
    .links
      = link_to_add_association(f, :<%= reference.name %>, partial: '<%= [resource.namespace.presence, reference.name].compact.join('/') %>/fields') do
        %button.btn.btn-success
          %span.glyphicon.glyphicon-plus-sign
          Add another <%= reference.name.to_s.titleize.singularize.downcase %>
