.row.nested-fields
<% nested_resource.belong_tos_attributes.each do |attribute| -%>
  .col-sm-2<%= render_field(attribute, depth: 1).sub('  ', '') -%>

<% end -%>
<% nested_resource.attributes.each do |attribute| -%>
  .col-sm-2<%= render_field(attribute, depth: 1).sub('  ', '') -%>

<% end -%>
  .col-sm-1
    = link_to_remove_association(f, data: { confirm: 'Really remove?'}) do
      %span.glyphicon.glyphicon-trash
