= simple_form_for(<%= form_for %>) do |f|
<% resource.belong_tos.each do |reference| -%>
<%= render_field(reference, depth: 1) %>
<% end -%>
<% attributes.each do |attribute| -%>
<%= render_field(attribute, depth: 1) %>
<% end -%>

  .form-actions
  <% if defined?(EffectiveResources) -%>
  = simple_form_submit(f)
  <% else -%>
  f.button :submit, 'Save', data: { disable_with: 'Saving...' }
  f.button :submit, 'Save and Continue', data: { disable_with: 'Saving...' }
  f.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
  <% end -%>
